body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #2563eb, #38bdf8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

small {
    color: red;
}
